.Modo-Jogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#Nivel-Jogo{
    width: 200px;
    height: 100px;
    font-size: 20px;
    margin: 15px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
    margin-top: 40px;
    color: white;
    /* transition-delay: 0.15s; */
}
#Nivel-Jogo:hover{
    height: 120px;
    box-shadow: 0 0 100px orange;
    border: 3px solid white;
    opacity: 0.9;
    transform: scaleY(1.4);
    transition: 1.0s;
    
}
#Resultado-Jogo{
    font-size: 25px;
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Elementos-Jogo{
    margin-top: 50px;
    background-color: #ffffff;
    width: 400px;
    height: 300px;
    border-radius: 25px;
}
#Resultado-Jogo{
    margin-top: 50px;
    margin-left: 160px;
}
#Inserir-Numero{
    margin-left: 90px;
    outline: none;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 0;
    border-bottom: 2px solid black;
}
#Enviar-Numero{
    width: 205px;
    height: 57px;
    margin-left: 90px;
    margin-top: 20px;
    background-color: blue;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}
#Enviar-Numero:hover{
    border: 3px solid rgb(2, 97, 24);
    opacity: 0.65;
}