.Modo-Jogo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#Nivel-Jogo{
    width: 200px;
    height: 100px;
    font-size: 20px;
    margin: 15px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
    margin-top: 40px;
    color: white;
}
#Nivel-Jogo:hover{
    height: 120px;
    box-shadow: 0 0 100px orange;
    border: 3px solid white;
    transform: scaleY(1.3);
    transition: 0.5s;
    
}
#Resultado-Jogo{
    font-size: 22px;
    padding: 20px;
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Elementos-Jogo{
    margin-top: 50px;
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    border-radius: 25px;
    overflow: hidden;
}
#Resultado-Jogo{
    margin-top: 50px;
    margin-left: 110px;
}
#Inserir-Numero{
    margin-left: 85px;
    outline: none;
    text-align: center;
    width: 220px;
    height: 50px;
    border: 0;
    border-bottom: 2px solid black;
}
#Resetar-Jogo{
    width: 160px;
    height: 45px;
    margin-left: 90px;
    margin-top: 20px;
    background-color: red;
    border: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-left: 110px;
    border-radius: 15px;

}
#Resetar-Jogo:hover{
    opacity: 0.65;
    border: 3px solid rgb(2, 97, 24);

}
#Enviar-Numero{
    width: 205px;
    height: 57px;
    margin-left: 90px;
    margin-top: 20px;
    background-color: blue;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}
#Enviar-Numero:hover{
    border: 3px solid rgb(2, 97, 24);
    opacity: 0.65;
}
#Situacao-Partida{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}