.Modo-Jogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Nivel-Jogo{
    width: 200px;
    height: 100px;
    font-size: 20px;
    margin: 15px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
    margin-top: 80px;
    color: white;
}
#Nivel-Jogo:hover{
    height: 140px;
    box-shadow: 0 0 100px orange;
}
#Resultado-Jogo{
    font-size: 20px;
}